        <label><b>Products</b></label>
        <button type="button" id="insert" name="Insert">Insert New</button>
        <table>
                    <tr><td>pen</td>
            <td><a href="index.php?contents=edit_product&product_id='8'">Edit</a></td>
            <td>
            <a href="call_action.php?flag=d&product_id='8'">Delete</a></td></tr>
                        <tr><td>car</td>
            <td><a href="index.php?contents=edit_product&product_id='9'">Edit</a></td>
            <td>
            <a href="call_action.php?flag=d&product_id='9'">Delete</a></td></tr>
                        <tr><td>pencil</td>
            <td><a href="index.php?contents=edit_product&product_id='10'">Edit</a></td>
            <td>
            <a href="call_action.php?flag=d&product_id='10'">Delete</a></td></tr>
                    </table>
        
        <script type="text/javascript" src="includes/js/jquery.min.js"></script>
        <script>
            $('document').ready(function(){
               
               $('#insert').on('click', function(event){
                    $.ajax({
                       type : "POST",
                       url : "index.php?content=insert_product",
                       success : function(resp){
                                    window.location = "index.php?content=insert_product";
                                } 
                    });
               }); 
               
             //  $('#delete').on('click', function(event){
//                    product_id = $(this).text();
//                    alert(product_id);
//                   // return('confirm do you want to delete post?');
//                   // $.ajax({
////                        type: "POST",
////                        url: "call_action.php?flag=d&product_id=".product_id,
////                        success: function(resp){
////                            window.location = "call_action.php?flag=d&product_id=".product_id;
////                        }
////                    });
//               });
               
            });
        </script>
        